// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

// Find the full list of options on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Input

include "modules/startup.kdl"
include "modules/inputs.kdl"
include "modules/keybinds.kdl"
include "modules/layout.kdl"
include "modules/layer-rules.kdl"
include "modules/window-rules.kdl"


/-output "eDP-1" {
    mode "1920x1080@120.030"
    scale 1.5
    transform "normal"
    position x=1280 y=0
}
