spawn-sh-at-startup "swaybg -m fill -i ~/.config/wallpaper/gruv_coffee_battery.png"
spawn-sh-at-startup "eww open bar"

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/0. Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
